{% extends 'base.html.twig' %}

{% block title %} Homepage{% endblock %}

{% block body %}
    {% for ticket in tickets %}
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.description }}</p>
        <a href="{{ path('update_ticket', {'id': ticket.id}) }}">Edit</a>
    {% endfor %}

    <a href="{{ path('create_ticket') }}">Create new ticket</a>
{% endblock %}
